
@font-face {
    font-family: "BRSonoma-Bold";
    src: url("/public/fonts/BRSonoma-Bold.otf");
}

@font-face {
    font-family: "BRSonoma-Light";
    src: url("/public/fonts/BRSonoma-Light.otf");
}

@font-face {
    font-family: "BRSonoma-Medium";
    src: url("/public/fonts/BRSonoma-Medium.otf");
}

@font-face {
    font-family: "BRSonoma-Regular";
    src: url("/public/fonts/BRSonoma-Regular.otf");
}
